
.disassemble_enter_active {
    animation: departureFromTheLeft 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.disassemble_exit_active {
    transform: translateX(100vw);
    transition: all 500ms ease-in;
}

.disassemble_body{
    border-width: 1px;
    background-color: hsl(var(--primary));
    border-radius: 0.75rem;
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.25rem 3vw;
    
}
.disassemble_body div{
    flex: 1 0 48%;
}

.fon_walletDialog{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    min-height: 100vh;
    padding: 0.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 30%;
    animation: manifested 6s ease-out;
    overflow: hidden;
    --primary-cristal: url(../рages/Kron_Scene_man_reading_a_crystal_ball_inside_of_a_ball_money_an.png) ;
    --primary-light: url(../рages/light.jpg ) ;
}

.fon_walletcard {
    min-height: 100vh;
    padding: 0.25rem;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    background-position: 50% 30%;
    animation: manifested 6s ease-out;
    --primary-cristal: url(../рages/1434_aHR0cHM6Ly9zMy5jb2ludGVsZWdyYXBoLmNvbS9zdG9yYWdlL3VwbG9hZHMvdmlldy9kYmVkYjdhMGQzN2UyM2Y0NjkxMTY4NDgyNThjNmY0MC5qcGc=.jpg) ;
    --primary-light: url(../рages/light.jpg ) ;
}

.acquaintance_conteiner{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 30%;
    --primary-cristal: url(../рages/1b462377abcd1c3c45a6b.jpg ) ;
    --primary-light: url(../рages/light.jpg );
}

.footer_link a:hover {
    transform: scale(1.1) translateY(-3px);
    transition-duration: 0.3s;
    color: rgb(62, 141, 230);
}

.timer_conteiner{
  margin-top: 10px;
  padding: 20px 0px;
  background: rgba(255, 255, 255, 0.374);
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
}

.dial_conteiner {
   width: 100%;
   
}
.dial_conteiner p{
   text-align: center;
   width: 200px;
   height: 40px;
   border-radius: 5px;
   margin: 5px auto 0px;
   padding: 5px;
}

.history_conteiner{
    width: 300px;
    min-height: 100px;
    max-height: 50%;
    overflow: auto;
    background: #dae950e7;
    border-radius: 5px;
    position: fixed;
    top: 100px;
    right: 10px;
}

.history_conteiner_box{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));  
}

.history_conteiner_box span{
    text-align: center;
}

.indikator{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
}

.help_conteiner{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../рages/1681098021_3-13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 30%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.help_conteiner div{
    text-align: center;
}

.acquaintance_menu{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 20vh;
   right: 0;
   z-index: 1;
   margin: auto;
   transition-duration: 1.5s;
}
.acquaintance_menu_mini{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 50px;
    right: 7%;
    z-index: 1;
    overflow: hidden;
    background-image: url(../рages/bestgaragedoorcompanyindallastexas-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 1.5s;
}

.gasPrice_conteiner{
    width: 150px;
    height: 150px;   
    border-radius: 5px;
    background: #e2bebed2;
}

.gasPrice_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid rgb(215, 208, 208);
    border-radius: 10px;
    background: #0000000d;
}

.border{
    width: 250px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    margin:10px;
    border: 1px solid rgb(215, 208, 208);
    border-radius: 10px;
    background: #0000000d;
}


@media (min-width: 1024px) {
    .fon_walletDialog{
       padding: 6rem;
    }
    .fon_walletcard {
       padding: 6rem;
    }

}

@keyframes manifested {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}

@keyframes departureFromTheLeft {
    0% {
        position: relative;
            left: -100vw;

    }

    100% {
        position: relative;
        left: 0px;

    }
}
.my_button{
    max-height: 40px;
    position: relative;
    text-decoration: none;
    padding: 5px 12px;
    display: inline-block;
    border-radius: 5px;
    transition: all .2s;
    background-color: #bab7b7;
    color: white;
    margin: 10px;
}
.my_button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.my_button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #9f9d9d;
}
.my_button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #bab7b7;
    
}
.my_button:hover::after {
    transform: scaleX(1.8) scaleY(2);
    opacity: 0;
}
.my_button {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.greeting {
    text-align: center;
    animation: greeting 3s ease-out;
    font-size: 22px;

}

.animat_greeting {
   animation: greetingSmall 1s ease-out; 
}

@keyframes greeting {
    0% {
        transform: scaleX(8) scaleY(8);

    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes greetingSmall {
    0% {
        transform: scaleX(1.5) scaleY(1.5);

    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}